/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tap_hold: tap_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        w_esc: w_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "W_ESC";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp ESC>;
        };
    };

    combos {
        compatible = "zmk,combos";

        w_f_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };

        w_r_at {
            bindings = <&kp AT>;
            key-positions = <2 14>;
        };

        r_s_tab {
            bindings = <&kp TAB>;
            key-positions = <14 15>;
        };

        r_x_backtick {
            bindings = <&kp GRAVE>;
            key-positions = <14 26>;
        };

        x_c_copy {
            bindings = <&kp LG(C)>;
            key-positions = <26 27>;
        };

        c_v_paste {
            bindings = <&kp LG(V)>;
            key-positions = <27 28>;
        };

        v_t_equal {
            bindings = <&kp LG(EQUAL)>;
            key-positions = <28 16>;
        };

        p_t_dollar {
            bindings = <&kp LG(DOLLAR)>;
            key-positions = <16 4>;
        };

        z_v_cut {
            bindings = <&kp LG(X)>;
            key-positions = <27 25>;
        };

        g_d_percent {
            bindings = <&kp PERCENT>;
            key-positions = <17 5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none  &kp Q                 &w_esc                &tap_hold LC(LS(LA(LEFT_GUI))) F  &kp P              &kp G    &kp J  &kp L              &tap_hold LC(LA(LG(SPACE))) LG(U)  &kp Y                  &kp SEMICOLON     &none
&none  &tap_hold LEFT_GUI A  &tap_hold LEFT_ALT R  &tap_hold LEFT_SHIFT S            &tap_hold LCTRL T  &kp D    &kp H  &tap_hold RCTRL N  &tap_hold RIGHT_SHIFT E            &tap_hold RIGHT_ALT I  &tap_hold RGUI O  &none
&none  &kp Z                 &kp X                 &kp C                             &kp V              &kp B    &kp K  &kp M              &kp COMMA                          &kp DOT                &kp FSLH          &none
                                                   &tap_hold LEFT_GUI LG(SPACE)      &kp SPACE          &mo 1    &mo 2  &kp ENTER          &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&none  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&none  &bt BT_CLR    &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                   &kp LGUI      &trans        &kp SPACE       &kp RET   &trans    &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&none  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &none
&none  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &none
&none  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &none
                         &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
